body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7FDBFF;
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #001f3f;
}

.status {
    margin-bottom: 20px;
    font-size: 24px;
    color: #FFDC00;
    font-weight: bold;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
  margin-bottom: 10px;
    

}

.cell:hover {
    background-color: #01FF70; 
}

.cell.X {
    color: #0074D9; /
}

.cell.O {
    color: #FF4136; 
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #FF851B; 
    color: white; 
    transition: background-color 0.3s ease; 
}

#restartButton:hover {
    background-color: #FF4136; 
}
